@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@font-face {
  font-family: 'Roboto Mono Regular';
  src: url(../assets/fonts/RobotoMono-Regular.ttf);
}
@font-face {
  font-family: 'Roboto Mono Medium';
  src: url(../assets/fonts/RobotoMono-Medium.ttf);
}
@font-face {
  font-family: 'Roboto Mono Semibold';
  src: url(../assets/fonts/RobotoMono-SemiBold.ttf);
}
@font-face {
  font-family: 'Roboto Mono Bold';
  src: url(../assets/fonts/RobotoMono-Bold.ttf);
}
@font-face {
  font-family: 'Roboto Mono Light';
  src: url(../assets/fonts/RobotoMono-Light.ttf);
}
@font-face {
  font-family: 'Roboto Mono Thin';
  src: url(../assets/fonts/RobotoMono-Thin.ttf);
}
@font-face {
  font-family: 'Open Sans Regular';
  src: url(../assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'Open Sans Semibold';
  src: url(../assets/fonts/OpenSans-Semibold.ttf);
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url(../assets/fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: 'Open Sans Light';
  src: url(../assets/fonts/OpenSans-Light.ttf);
}
body {
  padding: 0;
  margin: 0;
  font: 14px "Roboto Mono Regular", "Open Sans Regular", "sans-serif";
}

header {
  background-color: #111111;
  color: #f5f5f5;
  height: 50px;
  width: 100%;
}
header nav {
  height: 100%;
  width: 720px;
  margin: 0 auto;
}
header nav ul {
  display: flex;
}
header nav ul li {
  flex: 1;
  list-style: none;
  text-align: center;
  padding: 16px;
}
header nav ul li a {
  color: darkgray;
  text-decoration: none;
}
header nav ul li a:hover {
  color: #f5f5f5;
}

.wrapper {
  padding: 0 145px;
}
.wrapper .initial-presentation {
  background-image: url("../assets/img/black-phanter.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover;
  height: 620px;
  opacity: 30%;
}

.home-navigation {
  background: #2B2B2B;
  color: #e4e4e4;
  display: flex;
  justify-content: space-between;
  height: 80px;
  position: sticky;
  top: 0;
  width: 100%;
}
.home-navigation--item {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.home-navigation--item--icon {
  fill: #e4e4e4;
  height: 25px;
  margin-bottom: 8px;
}
.home-navigation--item--title {
  z-index: 1;
}
.home-navigation--item--selected {
  color: #E8B02C;
}
.home-navigation--item--selected:after {
  background: #2b2b2b;
  content: "";
  height: 40px;
  position: absolute;
  top: 59px;
  transform: rotate(45deg);
  width: 40px;
}
.home-navigation--item--selected .home-navigation--item--icon {
  fill: #E8B02C;
}
.home-navigation--item + .home-navigation--item {
  border-left: 2px solid #333;
}

.home-section {
  background-color: #333;
  display: flex;
  width: 100%;
}
.home-section--about-us {
  height: 495px;
}
.home-section--info {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-top: 20px;
  width: 30%;
}
.home-section--info--title {
  color: #e4e4e4;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
}
.home-section--info--button {
  background: #E8B02C;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  height: 50px;
  width: 210px;
}

.home-section--filmes {
  background-color: #2b2b2b;
  height: 540px;
}
.home-section--filmes--img {
  height: 100%;
  width: 70%;
}
.home-section--filmes--img img {
  height: 100%;
  width: 100%;
}
.home-section--filmes--info {
  background-color: #2b2b2b;
  text-align: right;
}

.banner {
  background-image: url(../assets/img/music/banner.jpg);
  background-size: cover;
  height: 650px;
  position: relative;
}
.banner__cover {
  background: #0000004d;
  height: 100%;
  position: absolute;
  width: 100%;
}
.banner__title {
  color: #fff;
  font: 50px "Roboto Mono Regular", "Open Sans Regular", "sans-serif";
  margin: 130px 100px;
  text-align: right;
}

.content {
  padding: 50px 145px;
}
.content--slider {
  background: #4e4e4e;
}
.content--desc {
  background: #202020;
}
.content__title {
  color: #c9c9c9;
  font: 35px "Roboto Mono Medium", "Open Sans Semibold", "sans-serif";
  padding-bottom: 50px;
  text-align: center;
}

.glide__track {
  margin: 0 !important;
}
.glide__slide {
  margin: 0 13px;
}
.glide__img {
  height: 200px;
  width: 200px;
}
.glide__arrow {
  border: none !important;
  box-shadow: none !important;
}
.glide__arrow--left {
  left: -60px !important;
}
.glide__arrow--right {
  right: -60px !important;
}
.glide__btn {
  width: 25px;
}
.glide__btn--next {
  transform: rotate(180deg);
}

.desc {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 0;
  opacity: 0;
  margin: 0 17px;
  width: 0;
}
.desc.is-active {
  height: auto;
  opacity: 1;
  width: 100%;
}
.desc__text {
  color: #fff;
  width: 47%;
}
.desc__image {
  width: 45%;
}
.desc__image-img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
