@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@font-face {
  font-family: 'Roboto Mono Regular';
  src: url(../assets/fonts/RobotoMono-Regular.ttf);
}
@font-face {
  font-family: 'Roboto Mono Medium';
  src: url(../assets/fonts/RobotoMono-Medium.ttf);
}
@font-face {
  font-family: 'Roboto Mono Semibold';
  src: url(../assets/fonts/RobotoMono-SemiBold.ttf);
}
@font-face {
  font-family: 'Roboto Mono Bold';
  src: url(../assets/fonts/RobotoMono-Bold.ttf);
}
@font-face {
  font-family: 'Roboto Mono Light';
  src: url(../assets/fonts/RobotoMono-Light.ttf);
}
@font-face {
  font-family: 'Roboto Mono Thin';
  src: url(../assets/fonts/RobotoMono-Thin.ttf);
}
@font-face {
  font-family: 'Open Sans Regular';
  src: url(../assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'Open Sans Semibold';
  src: url(../assets/fonts/OpenSans-Semibold.ttf);
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url(../assets/fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: 'Open Sans Light';
  src: url(../assets/fonts/OpenSans-Light.ttf);
}
body {
  padding: 0;
  margin: 0;
  font: 14px "Roboto Mono Regular", "Open Sans Regular", "sans-serif";
  box-sizing: border-box;
}

header {
  background-color: #111111;
  color: #f5f5f5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
header nav {
  height: 100%;
  max-width: 720px;
  margin: 0 auto;
}
header nav ul {
  display: flex;
}
header nav ul li {
  padding: 16px 0;
  text-align: center;
  width: 33%;
}
header nav ul li a {
  color: darkgray;
  text-decoration: none;
}
header nav ul li a:hover {
  color: #f5f5f5;
}
header nav ul li .active {
  color: #f5f5f5;
}

.wrapper {
  padding: 0 145px;
}

main .initial-presentation {
  background-image: url("../assets/img/recording-studio.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;
  margin-top: 50px;
}
main .initial-presentation h1 {
  color: #f5f5f5;
  text-align: right;
  font-size: 44px;
  padding: 3em;
}
main .portfolio-presentation {
  background-color: #4E4E4E;
  height: 450px;
}
main .portfolio-presentation h2 {
  font-size: 32px;
  color: #f5f5f5;
  text-align: center;
  padding: 1em 0 2em;
}
main .portfolio-presentation .box-container {
  display: flex;
  margin: 0 auto;
  height: 200px;
  width: 80%;
  position: relative;
}
main .portfolio-presentation .box-container .black-panther {
  background-image: url("../assets/img/black-panther.png");
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex: 1;
  margin: 0px 10px;
  height: 200px;
  justify-content: center;
}
main .portfolio-presentation .box-container .suicide-squad {
  background-image: url("../assets/img/suicide-squad.png");
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex: 1;
  margin: 0px 10px;
  height: 200px;
  justify-content: center;
}
main .portfolio-presentation .box-container .wonder-woman {
  background-image: url("../assets/img/wonder-woman.png");
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex: 1;
  margin: 0px 10px;
  height: 200px;
  justify-content: center;
}
main .portfolio-presentation .box-container .fast-and-furious {
  background-image: url("../assets/img/fast-and-furious.png");
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex: 1;
  margin: 0px 10px;
  height: 200px;
  justify-content: center;
}
main .portfolio-presentation .box-container .captain-america {
  background-image: url("../assets/img/captain-america.png");
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex: 1;
  margin: 0px 10px;
  height: 200px;
  justify-content: center;
}
main .portfolio-presentation .box-container .selected::after {
  background: #202020;
  content: "";
  cursor: none;
  height: 40px;
  position: absolute;
  top: 291px;
  transform: rotate(45deg);
  width: 40px;
}
main .portfolio-detail {
  background-color: #202020;
  color: #e4e4e4;
  display: flex;
  height: 300px;
}
main .portfolio-detail .description, main .portfolio-detail .image {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
}
main .portfolio-detail .description p, main .portfolio-detail .image p {
  padding: 2em;
}
main .portfolio-detail .description img, main .portfolio-detail .image img {
  width: 350px;
}

.footer {
  align-items: center;
  background: #2b2b2b;
  color: #e4e4e4;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  justify-content: space-around;
  text-align: center;
}
.footer__item {
  width: 30%;
}
@media screen and (max-width: 758px) {
  .footer__item {
    margin: 10px auto;
    width: 90%;
  }
}
.footer__icone {
  height: 20px;
  margin: 0 5px;
  width: 20px;
}

.home-navigation {
  background: #2B2B2B;
  color: #e4e4e4;
  display: flex;
  justify-content: space-between;
  height: 80px;
  position: sticky;
  top: 50px;
  width: 100%;
}
.home-navigation__item {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.home-navigation__item--selected {
  color: #E8B02C;
  transition: all 0.5s;
}
.home-navigation__item--selected:after {
  background: #2b2b2b;
  content: "";
  height: 40px;
  position: absolute;
  top: 59px;
  transform: rotate(45deg);
  width: 40px;
}
.home-navigation__item--selected .home-navigation__icon {
  fill: #E8B02C;
}
.home-navigation__icon {
  fill: #e4e4e4;
  height: 25px;
  margin-bottom: 8px;
}
.home-navigation__title {
  z-index: 1;
}
.home-navigation__item + .home-navigation__item {
  border-left: 2px solid #333;
}

.home-section {
  background-color: #333;
  display: flex;
  overflow: hidden;
  width: 100%;
}
.home-section__img {
  height: 100%;
  width: 80%;
}
.home-section__info {
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  width: 20%;
}
.home-section__title {
  color: #e4e4e4;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.home-section__list li {
  color: #e4e4e4;
  font-size: 20px;
  height: 50px;
}
.home-section__button {
  background: #E8B02C;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Roboto Mono Regular';
  font-size: 15px;
  height: 50px;
  width: 160px;
  color: #000;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}

.home-banner {
  background-image: url("../assets/img/producao-de-video-EAD.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin-top: 50px;
}
.home-banner__background {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.home-section__about-us {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 70px 0;
}
.home-section__about-us .about-us__item {
  color: #c9c9c9;
  text-align: center;
  max-width: 300px;
}
.home-section__about-us .about-us__item svg {
  margin-bottom: 20px;
}

.home-section__filmes {
  height: 540px;
}
.home-section__filmes .home-section__img {
  background-image: url("../assets/img/filme.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.home-section__filmes .filmes__info {
  align-items: flex-end;
  text-align: right;
}

.home-section__musicas {
  height: 550px;
}
.home-section__musicas .home-section__img {
  background-image: url("../assets/img/musica.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-section__contato {
  justify-content: center;
  padding: 40px 0px;
}
.home-section__contato .contato__form {
  color: #c9c9c9;
  width: 350px;
}
.home-section__contato .contato__title {
  font-size: 24px;
  margin: 10px auto 30px;
  text-align: center;
}
.home-section__contato .contato__item {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  width: 100%;
}
.home-section__contato .contato__item .item__label {
  margin-bottom: 10px;
}
.home-section__contato .contato__item .item__input, .home-section__contato .contato__item .item__textarea {
  background: transparent;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  color: #fff;
  font-family: "Roboto Mono Regular";
  padding-left: 10px;
}
.home-section__contato .contato__item .item__input:focus, .home-section__contato .contato__item .item__textarea:focus {
  border-color: #E8B02C;
  outline: none;
}
.home-section__contato .contato__item .item__input {
  height: 40px;
}
.home-section__contato .contato__item .item__textarea {
  height: 100px;
  padding: 10px;
  resize: none;
}
.home-section__contato .contato__button {
  text-align: right;
}
.home-section__contato .contato__button-btn {
  background: #E8B02C;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Roboto Mono Regular';
  font-size: 15px;
  height: 40px;
  width: 145px;
}

.banner {
  background-size: cover;
  height: 650px;
  position: relative;
}
.banner--music {
  background-image: url(../assets/img/music/banner.jpg);
}
.banner--movie {
  background-image: url(../assets/img/movies/banner.jpg);
}
@media screen and (max-width: 960px) {
  .banner {
    height: 500px;
  }
}
@media screen and (max-width: 960px) {
  .banner {
    height: 450px;
  }
}
@media screen and (max-width: 550px) {
  .banner {
    height: 400px;
  }
}
.banner__cover {
  background: #0000004d;
  height: 100%;
  position: absolute;
  width: 100%;
}
.banner__title {
  color: #fff;
  font: 50px "Roboto Mono Regular", "Open Sans Regular", "sans-serif";
  margin: 130px 100px;
  text-align: right;
}
@media screen and (max-width: 960px) {
  .banner__title {
    font-size: 45px;
    margin: 110px 80px;
  }
}
@media screen and (max-width: 960px) {
  .banner__title {
    font-size: 40px;
    margin: 90px 60px;
  }
}
@media screen and (max-width: 550px) {
  .banner__title {
    font-size: 30px;
    margin: 100px 40px;
  }
}

.content {
  padding: 50px 145px;
}
@media screen and (max-width: 1380px) {
  .content {
    padding: 50px 130px;
  }
}
@media screen and (max-width: 1320px) {
  .content {
    padding: 50px 120px;
  }
}
@media screen and (max-width: 1300px) {
  .content {
    padding: 50px 100px;
  }
}
.content--slider {
  background: #4E4E4E;
}
.content--desc {
  background: #202020;
  margin-left: -30px;
}
@media screen and (max-width: 600px) {
  .content--desc {
    padding: 50px 70px;
  }
}
.content__title {
  color: #c9c9c9;
  font: 35px "Roboto Mono Medium", "Open Sans Semibold", "sans-serif";
  padding-bottom: 50px;
  text-align: center;
}

.glide {
  cursor: pointer;
}
.glide__track {
  margin: 0 !important;
}
.glide__slide {
  margin: 0 13px;
}
@media screen and (max-width: 480px) {
  .glide__slide {
    margin: 0 35px;
  }
}
.glide__img {
  height: 200px;
  width: 200px;
}
@media screen and (max-width: 1300px) {
  .glide__img {
    height: 180px;
    width: 180px;
  }
}
@media screen and (max-width: 1170px) {
  .glide__img {
    height: 150px;
    width: 150px;
  }
}
@media screen and (max-width: 1130px) {
  .glide__img {
    height: 130px;
    width: 130px;
  }
}
@media screen and (max-width: 960px) {
  .glide__img {
    height: 150px;
    width: 150px;
  }
}
@media screen and (max-width: 855px) {
  .glide__img {
    height: 115px;
    width: 115px;
  }
}
@media screen and (max-width: 630px) {
  .glide__img {
    height: 150px;
    width: 150px;
  }
}
@media screen and (max-width: 530px) {
  .glide__img {
    height: 130px;
    width: 130px;
  }
}
@media screen and (max-width: 480px) {
  .glide__img {
    height: 170px;
    width: 170px;
  }
}
.glide__arrow {
  border: none !important;
  box-shadow: none !important;
}
.glide__arrow--left {
  left: -60px !important;
}
.glide__arrow--right {
  right: -60px !important;
}
.glide__btn {
  width: 25px;
}
@media screen and (max-width: 1130px) {
  .glide__btn {
    width: 20px;
  }
}
.glide__btn--next {
  transform: rotate(180deg);
}

.desc {
  align-items: center;
  display: none;
  justify-content: space-between;
  height: 0;
  opacity: 0;
  margin: 0 17px;
  width: 0;
  transition: display 1s ease-in-out;
}
.desc.is-active {
  display: flex;
  height: auto;
  opacity: 1;
  width: 100%;
}
@media screen and (max-width: 960px) {
  .desc.is-active {
    display: block;
    justify-content: center;
  }
}
.desc__text {
  color: #fff;
  width: 47%;
}
@media screen and (max-width: 960px) {
  .desc__text {
    margin: 0 auto;
    width: 90%;
  }
}
@media screen and (max-width: 758px) {
  .desc__text {
    width: 100%;
  }
}
.desc__title {
  font-size: 25px;
  margin-bottom: 30px;
}
@media screen and (max-width: 960px) {
  .desc__title {
    text-align: center;
  }
}
@media screen and (max-width: 1130px) {
  .desc__p {
    font-size: 13px;
  }
}
@media screen and (max-width: 960px) {
  .desc__p {
    font-size: 15px;
  }
}
@media screen and (max-width: 758px) {
  .desc__p {
    font-size: 14px;
  }
}
.desc__image {
  width: 45%;
}
@media screen and (max-width: 960px) {
  .desc__image {
    margin: 50px auto 0;
    width: 80%;
  }
}
@media screen and (max-width: 960px) {
  .desc__image {
    width: 100%;
  }
}
.desc__image-img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
