@charset "utf-8";

body {
    padding: 0;
    margin: 0;
    font: 14px $font-regular;
    box-sizing: border-box;
}

header {
    background-color: $black;
    color: $foreground-color;
    height: 50px;
    width: 100%;
    
    nav {
        height: 100%;
        width: 720px;
        margin: 0 auto;
        
        ul {
            display: flex;  
            
            li {
                flex: 1;
                list-style: none;
                text-align: center;
                padding: 16px;
                
                a {
                    color: darken($foreground-color, 30);
                    text-decoration: none;
                    
                    &:hover {
                        color: $foreground-color;
                    }
                }   
                
                .active {
                    color: $foreground-color;
                }
            }

        }
    }
}

.wrapper {
    padding: 0 145px;
}

main {
    .initial-presentation {
        background-image: url("../assets/img/recording-studio.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 480px;

        h1 {
            color: $foreground-color;
            text-align: right;
            font-size: 44px;
            padding: 3em;
        }
    }

    .portfolio-presentation {
        background-color: $light-bg;
        height: 450px;

        h2 {
            font-size: 32px;
            color: $foreground-color;
            text-align: center;
            padding: 1em 0 2em;
        }

        .box-container {
            display: flex;
            margin: 0 auto;
            height: 200px;
            width: 80%;
            position: relative;

            @each $movie, $image in $movie-images {
                .#{$movie} {
                    background-image: $image;
                    border-radius: 5px;
                    cursor: pointer;
                    display: flex;
                    flex: 1;
                    margin: 0px 10px;
                    height: 200px;
                    justify-content: center;
                }
            }

            .selected::after {
                background: #202020;
                content: "";
                cursor: none;
                height: 40px;
                position: absolute;
                top: 291px;
                transform: rotate(45deg);
                width: 40px;
                
            }
        }
    }

    .portfolio-detail {
        background-color: $dark-bg;
        color: $font-color;
        display: flex;
        height: 300px;

        .description, .image {
            align-items: center;
            justify-content: center;
            display: flex;
            flex: 1;

            p {
                padding: 2em;
            }

            img {
                width: 350px;
            }
        }
    }
}