@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@font-face {
  font-family: 'Roboto Mono Regular';
  src: url(../assets/fonts/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: 'Roboto Mono Medium';
  src: url(../assets/fonts/RobotoMono-Medium.ttf);
}

@font-face {
  font-family: 'Roboto Mono Semibold';
  src: url(../assets/fonts/RobotoMono-SemiBold.ttf);
}

@font-face {
  font-family: 'Roboto Mono Bold';
  src: url(../assets/fonts/RobotoMono-Bold.ttf);
}

@font-face {
  font-family: 'Roboto Mono Light';
  src: url(../assets/fonts/RobotoMono-Light.ttf);
}

@font-face {
  font-family: 'Roboto Mono Thin';
  src: url(../assets/fonts/RobotoMono-Thin.ttf);
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url(../assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url(../assets/fonts/OpenSans-Semibold.ttf);
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url(../assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: 'Open Sans Light';
  src: url(../assets/fonts/OpenSans-Light.ttf);
}