.home-navigation {
    background: #2B2B2B;
    color: $font-color;
    display: flex;
    justify-content: space-between;
    height: 80px;
    position: sticky;
    top: 0;
    width: 100%;

    &__item {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        width: 100%;

        &--selected{
            color: $primary-color;

            &:after {
                background: #2b2b2b;
                content: "";
                height: 40px;
                position: absolute;
                top: 59px;
                transform: rotate(45deg);
                width: 40px;
            }

            .home-navigation__icon {
                fill: $primary-color;
            }
        }

    }

    &__icon {
        fill: $font-color;
        height: 25px;
        margin-bottom: 8px;
    }

    &__title {
        z-index: 1;
    }

    &__item + &__item {
        border-left: 2px solid #333;
    }
}

.home-section {
    background-color: #333;
    display: flex;
    overflow: hidden;
    width: 100%;

    &__img {
        height: 100%;
        width: 80%;

        img {
            width: 100%;
        }
    }

    &__info {
        background-color: #2b2b2b;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 40px;
        width: 20%;
    }

    &__title {
        color: $font-color;
        font-size: 35px;
        font-weight: bold;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }

    &__list {
        li {
            color: $font-color;
            font-size: 20px;
            height: 50px;
        }
    }

    &__button {
        @include btn-primary(50px);
    }
}

.home-section__about-us {
    height: 495px;
}

.home-section__filmes {
    height: 540px;

    .filmes{
        &__info {
            align-items: flex-end;
            text-align: right;
        }
    }
}

.home-section__musicas {
    height: 550px;
}

.home-section__contato {
    height: 400px;
    justify-content: center;
    padding: 40px 0px;

    .contato{
        &__form {
            align-items: center;
            color: $form-color;
            display: flex;
            flex-direction: column;
            height: 100%;        
            justify-content: space-around;
            position: relative;
            width: 350px;
    
            &:last-child {
                align-items: flex-end;
            }
        }

        &__title {
            font-size: 24px;
        }

        &__item {
            display: flex;
            flex-direction: column;
            width: 100%;

            .item {
                &__label {
                    margin-bottom: 10px;
                }

                &__input, &__textarea {
                    background: transparent;
                    border: 1px solid $form-color;
                    border-radius: 5px;
                    color: #fff;
                    font-family: "Roboto Mono Regular";
                    padding-left: 10px;
    
                    &:focus {
                        border-color: $primary-color;
                        outline: none;
                    }
                }

                &__input {
                    height: 40px;
                }
    
                &__textarea {
                    height: 100px;
                    resize: none;
                }
            }
        }

        &__button {
            @include btn-primary(40px, 145px);
        }
    }
}

.home-footer {
    align-items: center;
    background: #2b2b2b;
    color: $font-color;
    display: flex;
    height: 80px;
    justify-content: space-around;
    text-align: center;

    &__icone {
        height: 20px;
    }
}