.home-navigation {
    background: #2B2B2B;
    color: $font-color;
    display: flex;
    justify-content: space-between;
    height: 80px;
    position: sticky;
    top: 0;
    width: 100%;

    &--item {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        width: 100%;

        &--icon {
            fill: $font-color;
            height: 25px;
            margin-bottom: 8px;
        }

        &--title {
            z-index: 1;
        }

        &--selected{
            color: $primary-color;

            &:after {
                background: #2b2b2b;
                content: "";
                height: 40px;
                position: absolute;
                top: 59px;
                transform: rotate(45deg);
                width: 40px;
            }

            .home-navigation--item--icon {
                fill: $primary-color;
            }
        }
    }

    &--item + &--item {
        border-left: 2px solid #333;
    }
}

.home-section {
    background-color: #333;
    display: flex;
    width: 100%;

    &--about-us {
        height: 495px;
    }

    &--info {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 20px;
        padding-right: 40px;
        padding-top: 20px;
        width: 30%;

        &--title {
            color: $font-color;
            font-size: 35px;
            font-weight: bold;
            text-transform: uppercase;
        }

        &--button {
            background: $primary-color;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 20px;
            height: 50px;
            width: 210px;
        }
    }
}

.home-section--filmes {
    background-color: #2b2b2b;
    height: 540px;

    &--img {
        height: 100%;
        width: 70%;

        img {
            height: 100%;
            width: 100%;
        }
    }

    &--info {
        background-color: #2b2b2b;
        text-align: right;
    }
}